/*reset*/
body{
    line-height:1.4;
    color:#333;
    font-family:"Microsoft YaHei",Arial;
    font-size: 14px;    
    /*background-color: #f5f5f5;*/
    background-color: #efeef4;
}
input,textarea,select{
    /*font-size:12px;*/
    font-size:100%;    
   /* font-family:arial;*/
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
h4,h5,h6{
    font-size:1em;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
/*image with no-border*/
/*a img{border:0;}*/
img{border:0;}

/*header*/
header {
    background-color: #fff;
    height: 80px;
    line-height: 80px;
}

.logo {float: left;}
.logo img {
    text-align: left;
    margin-left: 0;
    /*height: 80px;*/
}
.menu {
    display: inline-block;
    /*float: right;*/
}
.menu a {color: #666;}
.menu a.curre {color:#f6ad3c;}
.menu a:hover {text-decoration: none;}
.menu > li {
    margin-left: 40px;
    position: relative;
}
.menu .one-menu {font-size: 18px;}
.menu .two-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 110px;
    top: 80px;
    padding-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
}
.menu .two-menu li {
    text-align: center;
    line-height: 28px;
    height: 28px;
    margin-right: 0;
}
.menu .two-menu a {
    font-size: 14px;
}
.menu .two-menu li:hover a {color: #fdc230;}
.fa-angle-down,.fa-angle-up {padding-left:5px;}

/*footer*/
footer {margin-top:30px;/*position: fixed;*/bottom: 0;right: 0;left: 0;}
.copyright {
    text-align: center;
    height: 80px;
    line-height: 80px;
    background-color: #fff;
}
/*content*/
.bg {background-color: #f8f7fc;margin-top:30px;margin-bottom: 30px;padding-left: 80px;padding-right: 80px;}
h1.title {
    font-size: 28px;
    margin-top:50px;
    margin-bottom: 50px;
    padding-left: 15px;
    border-left: 5px solid #fdc230;
}
p {font-size: 20px;color: #666;}

.row {margin-left:0;margin-right: 0;}
/*index*/
.carousel {width: 100%;background-color: #e5e5e5;margin-top:20px;}
.b1 {
    background:url(../images/b1.jpg) no-repeat center center;
    height: 450px;
}
.b2 {
    background:url(../images/b2.jpg) no-repeat center center;
    height: 450px;
}
.b3 {
    background:url(../images/b3.jpg) no-repeat center center;
    height: 450px;
}
.contact {margin-bottom: 50px;}
.contact h1 {
    font-size: 28px;
    color: #fdc230;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact p {margin-bottom: 20px;}
.contact .fa {
    font-size: 20px;
    color:#fdc230;
    padding-right:20px;
}
/*about*/

.about .us .intro {
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;    
}
.avatar .avatar-list {padding-right: 35px;padding-left:35px;margin-bottom: 20px;}
.avatar .col-md-3 {
    position: relative;
    height: 210px;
}

.avatar .col-md-3 > i {
    position: absolute;
    font-style: normal;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
}
.avatar > .become {font-size: 18px;color: #fdc230;text-align: center;margin-bottom: 20px;}
.avatar > .become > a {margin-left:10px;}

/*offers*/ 
.offers .show {margin-top:50px;margin-bottom: 50px;}
.row-down img {margin-top:-30px;}
/*图片排放位置*/
.row-up .l img {padding-left: 210px;}
.row-up .r img {}
.row-down .l img {padding-left: 140px;}
.row-down .c img {padding-left: 74px;}
.row-down .r img {padding-left: 40px;}
<<<<<<< HEAD
.treatment p {margin-bottom: 20px;}
=======
.treatment p {margin-bottom:20px;}

>>>>>>> f68ea15d8a504b50cc1188e33f3b5dd83e36078e

/*require*/
.require .title {
    margin-top: 20px;
}
.require .req {
    margin-top: 10px;
    margin-left: 30px;
}
.dot {
    display: inline-block;
    font-weight: normal;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 20px;
}

/*steps*/
.steps .intro {color: #333;text-align: center;padding-top:30px;padding-bottom: 30px;}
