<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" type="image/x-icon" />
	<title>About Us</title>
	<link rel="stylesheet" href="../../assets/libs/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/libs/swiper-4.3.3/swiper.min.css">
	<link rel="stylesheet" href="../../assets/css/base.css">
	<link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
	<!--  header -->
	<div id="header-wrapper"></div>
	<!-- content -->
	<div class="page-bg bg1"></div>
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-md-3 side-nav side-nav-en">
				<ul class="list-unstyled">
					<li class="on">
						<i class="fa fa-plus-square"></i>
						<a href="about.html">About Us</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="require.html">Requirements</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="cooperation.html">Cooperation</a>
						<i class="fa fa-caret-right"></i>
					</li>					
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="offer.html">Offer</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="contact.html">Contact Us</a>
						<i class="fa fa-caret-right"></i>
					</li>
				</ul>
			</div>
			<div class="col-md-9 right-cont">
				<div class="r-top">
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="javascript:;" class="on-site">Current Location</a></li>
						<li><a href="index.html">Home</a></li>
						<li><a href="javascript:;">About Us</a></li>
					</ol>
				</div>
				<h1 class="r-title">About Us</h1>
				<div class="r-about">
					<p>
						Winter, a international recruiting agency in China, which is looking for the foreign talents all over the world. Our main business is to help foreign talents to find their ideal job all over China. We have lots of jobs type you can choose, such as education, business, sports and service or as you wish etc..
					</p>
					<p>We have a rich experience and unique advantage in cooperation, which insure you can start to work smoothly and protect your rights equally.
					</p>
					<p>
						We wanted you are active, enthusiastic and full of passion, ages and nationalities are not  restrictive conditions. If you are interested in China and plan to have a fantastic experience in China, cooperating with our company is your best choice. And we will provide you a safe and perfect job which make you are satisfied with it. 
					</p>
					<p>
						So, if you are ready to work in China, and visit the beautiful country, just contact us directly! We will not hesitate to answer you! 
					</p>
					<p>
						We are always waiting for you!
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div id="footer-wrapper"></div>
	<style>
		.header .header-nav .menu li:nth-child(2) a {color: #e60012;}
		.intro-wrapper .right-cont .r-about p {
			line-height: 28px;
			font-size: 16px;
		}
	</style>
	<script src="../../assets/libs/jquery-1.12.4/jquery.min.js"></script>
	<script src="../../assets/js/common.js"></script>
</body>
</html>
