<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!-- <link rel="shortcut icon" href="../../assets/img/logo.ico" type="image/x-icon" /> -->
	<title>Cooperation Process</title>
	<link rel="stylesheet" href="../../assets/libs/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/libs/swiper-4.3.3/swiper.min.css">
	<link rel="stylesheet" href="../../assets/css/base.css">
	<link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
	<!--  header -->
	<div id="header-wrapper"></div>
	<!-- content -->
	<div class="page-bg bg3"></div>
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-md-3 side-nav side-nav-en">
				<ul class="list-unstyled">
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="about.html">About Us</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="requirements.html">Requirements</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li class="on">
						<i class="fa fa-plus-square"></i>
						<a href="cooperation.html">Cooperation</a>
						<i class="fa fa-caret-right"></i>
					</li>					
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="offer.html">Offer</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="contact.html">Contact Us</a>
						<i class="fa fa-caret-right"></i>
					</li>
				</ul>
			</div>
			<div class="col-md-9 right-cont">
				<div class="r-top">
					<!-- <span>公司介绍</span> -->
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="javascript:;" class="on-site">Current Location</a></li>
						<li><a href="index.html">Home</a></li>
						<li><a href="javascript:;">Cooperation Process</a></li>
					</ol>
				</div>
				<h1 class="r-title">Cooperation Process</h1>
				<div class="r-about">
					<p>
						1. Check the file <a href="download.html" style="color: #ff7800; ">"Job Objective"</a> from our official site, and fill overall information as much as possible. It is important for us to get your requirement of your job.
					</p>
					<p>2. Send it to us and we will contact you in 1-2 days to know about some specific details .
					</p>
					<p>
						3 .Talents--job matching time. 
					</p>
					<p>
						4. Interview of employer and procedure of contrast & visa.
					</p>
					<p>
						5. Start to work.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer-wrapper"></div>

	<style>
	.header .header-nav .menu li:nth-child(4) a {color: #e60012;}
</style>
	<script src="../../assets/libs/jquery-1.12.4/jquery.min.js"></script>
	<script src="../../assets/js/index.js"></script>
<script>
	$("#header-wrapper").load("header.html");
	$("#footer-wrapper").load("footer.html");
</script>
</body>
</html>