	<!-- footer -->
    <div class="footer-wrapper">
		<div class="container">
    		<div class="footer-top">
    			<div class="tl">
    				<!--<div class="img"><img src="../../assets/img/logo.png" alt="" /></div>-->
    				<!--<p>让学习更高效！</p>-->
    				<div>
    					<a href="about.html">About Us</a>|
						<a href="require.html">Requirements</a>|
						<a href="cooperation.html">Cooperation</a>
						<br />
						<br />
						<a href="offer.html">Offer</a>|
						<a href="contact.html">Contact Us</a>|
						<a href="http://www.winterhr.cn">中文</a>
    				</div>
    			</div>
    			<div class="tc">
    				<div class="qr1">
    					<img src="../../assets/img/home/qr1.jpg" alt="" />
    					<p>Winter foreignerHR</p>
    				</div>
    				<div class="qr2">
    					<img src="../../assets/img/home/qr.jpg" alt="" />
    					<p>温特人力</p>
    				</div>
    			</div>
    			<div class="tr">
    				<p class="hot-line">
    					<i class="fa fa-weixin"></i><i>：Rosyclouds66/Zxy-della</i>
    					<br />
    					<i class="fa fa-phone"></i><i>：Hotline：15930119910</i>
    				</p>
    			</div>
    		</div>
    		<div class="footer-bot">
    			Copyright ©<i class="year"></i> Winter All Rights Reserved&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://beian.miit.gov.cn">冀ICP备17032669号-1</a><br>
					Winter Human Resources Co., Ltd&nbsp;&nbsp;&nbsp;&nbsp;
					| &nbsp;&nbsp;Room.2505 ，Number 9 Tatan International office building ,shengli south street ,qiaoxi district ,shijiazhuang city ,china .
    		</div>
		</div>
	</div>
	<script>
		$(function(){
			var date=new Date;
			var year=date.getFullYear(); 
			$(".year").text(year);
		})
	</script>