	<div class="header">
		<div class="container header-main">
			<div class="header-logo">
				<a href="http://www.winterhr.cn" class="logo"><img src="../../assets/img/logo.png"></a>
			</div>
			<div class="header-nav">
				<ul class="list-inline menu">
					<li><a href="index.html" class="one-menu">Home</a></li>
					<li><a href="about.html" class="one-menu">About Us</a></li>
					<li><a href="require.html" class="one-menu">Requirements</a></li>
					<li><a href="cooperation.html" class="one-menu">Cooperation</a></li>
					<li><a href="offer.html" class="one-menu">Offer</a></li>					
					<li><a href="contact.html" class="one-menu">Contact Us</a></li>
					<li><a href="http://www.winterhr.cn/" class="one-menu">中文</a></li>
				</ul>
			</div>
		</div>
	</div>