<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" type="image/x-icon" />
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../../Public/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/css/index.css">
	<script src="../../Public/components/jquery/dist/jquery.min.js"></script>
	<script src="../../Public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../Public/js/index.js"></script>
</head>
<body>
	<!--  header -->
	<header>
		<div class="container clearfix header-main">
			<a href="index.html" class="logo"><img src="../../Public/images/logo.png"></a>
			<nav class="nav-main">
				<ul class="list-inline menu">
					<li><a href="index.html" class="one-menu">首页</a></li>
					<li><a href="about.html" class="one-menu">关于我们</a></li>
					<li><a href="business.html" class="one-menu">业务介绍</a></li>
					<li><a href="cooperation.html" class="one-menu">合作流程</a></li>
					<li><a href="show.html" class="one-menu">外教风采</a></li>
					<li><a href="contact.html" class="one-menu">联系我们</a></li>
					<li><a href="../en/index.html" class="one-menu">English</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- content -->
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-md-3 side-nav">
				<ul>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="javascript:;">公司介绍</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="javascript:;">公司介绍</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="javascript:;">公司介绍</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="javascript:;">公司介绍</a>
						<i class="fa fa-caret-right"></i>
					</li>
				</ul>
			</div>
			<div class="col-md-9 right-cont">
				<div class="r-top">
					<!-- <span>公司介绍</span> -->
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="#" class="on-site">当前位置</a></li>
						<li><a href="#">首页</a></li>
						<li><a href="#">关于温特</a></li>
						<li><a href="#">业务介绍</a></li>
					</ol>
				</div>
				<h1 class="r-title">业务介绍</h1>
				<div class="r-about">
					<p>我公司主要业务便是为多种行业客户提供符合其要求的优秀的外籍人才。其中岗位包括：</p>
					<p>1文教类： 语言类（1）英语以及小语种（西班牙语/葡萄牙语/德语/法语/）教师。</p>
					<p>（2）文科—文学，历史等；</p>
					<p>（3）理科—数学/物理/化学/生物/计算机等；</p>
					<p>（4）艺术—音乐教师（钢琴，小提琴，中提琴等）；</p>
					<p>舞蹈教师（芭蕾等）；</p>
					<p>美术教师（雕塑，绘画等）；</p>
					<p>（5）体育—足球教练，篮球教练，滑雪教练等；</p>
					<p>（6）教学管理人员—如班主任，校长。</p>
					<p>2非文教类：主要包括如健身教练，菲佣，商务人员等其他岗位的外籍人才。</p>
				</div>
			</div>
		</div>
	</div>


	<!-- footer -->
	<div class="footer-wrapper">
		<div class="container">
			<div class="footer-link">
				<a href="/about.html">关于温特</a>|
				<a href="/headhunting.html">产品与服务</a>|
				<a href="/join.html">加入我们</a>|
				<a href="/law.html">法律声明</a>|
				<a href="/links.html">友情链接</a>|
				<a href="/contact.html">联系我们</a>
			</div>
			<div class="footer-content">
				<a href="">English</a>
				<p class="copyright">Copyright 2017 Winter Rights Reserved. 400-xxx-xxxx</p>
			</div>
			<div class="footer-right">
				<a href="#" class="logo"><img src="../../Public/images/logo.png" alt=""></a>
				<ul>
					<li>
						<div class="fa fa-weixin"></div>
						<a href=""><img src="" class="img1">微信</a>
					</li>
					<li>
						<div class="fa fa-weibo"></div>
						<a href=""><img src="" class="img2">微博</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>