<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" type="image/x-icon" />
	<title>联系我们</title>
	<link rel="stylesheet" type="text/css" href="../../Public/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/css/index.css">
	<script src="../../Public/components/jquery/dist/jquery.min.js"></script>
	<script src="../../Public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../Public/js/index.js"></script>
</head>
<body>
	<div id="header-wrapper"></div>

	<!-- content -->
	<div class="page-bg bg5"></div>
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-md-3 side-nav">
				<ul class="list-unstyled">
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="about.html">关于温特</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="business.html">业务介绍</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="cooperation.html">合作流程</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="show.html">外教风采</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="contact.html">联系我们</a>
						<i class="fa fa-caret-right"></i>
					</li>
				</ul>
			</div>
			<div class="col-md-9 right-cont">
				<div class="r-top">
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="javascript:;" class="on-site">当前位置</a></li>
						<li><a href="index.html">首页</a></li>
						<li><a href="javascript:;">联系我们</a></li>
					</ol>
				</div>
				<h1 class="r-title">联系我们</h1>
				<div class="hotline">
					<p>公司电话：<strong>15532106204</strong></p>
					<p>公司地址：
						<strong>
							河北省石家庄市桥西区，胜利南大街126号，泰丰观湖1号楼1单元2502
						</strong>
					</p>
				</div>
			</div>
		</div>
	</div>


	<!-- footer -->
	<div id="footer-wrapper"></div>
	<style>
		.header .header-nav .menu li:nth-child(6) a {color: #e60012;}
		.side-nav ul li:nth-child(5) a {background-color: #C02120;color: #fff;}
		.side-nav ul li:nth-child(5) i.fa-plus-square:before,
		.side-nav ul li:nth-child(5) i.fa-caret-right:before {color: #fff;}
	</style>
	<script>
		$("#header-wrapper").load("header.html");
		$("#footer-wrapper").load("footer.html");
	</script>
</body>
</html>