<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" type="image/x-icon" />
	<title>下载页</title>
	<link rel="stylesheet" type="text/css" href="../../Public/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/css/index.css">
	<script src="../../Public/components/jquery/dist/jquery.min.js"></script>
	<script src="../../Public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../Public/js/index.js"></script>
</head>
<body>
	<div id="header-wrapper"></div>
	<!-- content -->
	<div class="container">
		<div class="download-table">
			<h3>表1：聘请外籍人才需求表（非文教类）</h3>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>公司名称 Name of school</td>
						<td></td>
					</tr>
					<tr>
						<td>具体地点
							Location 
						</td>
						<td></td>
					</tr>
					<tr>
						<td>所需岗位：positions </td>
						<td></td>
					</tr>
					<tr>
						<td>岗位要求，职责
							Requirements and duties description
						</td>
						<td></td>
					</tr>
					<tr>
						<td>要求上岗时间
							Starting time 
						</td>
						<td></td>
					</tr>
					<tr>
						<td>每周工作时间
							working hours/week 
						</td>
						<td></td>
					</tr>
					<tr>
						<td>休息日  off day </td>
						<td></td>
					</tr>
					<tr>
						<td>签证visa </td>
						<td></td>
					</tr>
					<tr>
						<td>工资待遇 salary
							税前税后 （after taxes or before taxes )
						</td>
						<td></td>
					</tr>
					<tr>
						<td>福利（是否有公寓，机票补贴等）
							benefits
						</td>
						<td></td>
					</tr>
					<tr>
						<td>是否有带薪假期 Paid holiday</td>
						<td></td>
					</tr>
					<tr>
						<td>面试官联系方式      
							Skype/wechat of interviewer
						</td>
						<td></td>
					</tr>
					<tr>
						<td>公司联系人电话</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 style="margin-top: 60px;">表2：聘请外籍教师需求表</h3>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>学校名字 Name of school</td>
						<td></td>
					</tr>
					<tr>
						<td>具体地点
							Location 
						</td>
						<td></td>
					</tr>
					<tr>
						<td>所需外教数量 Numbers needed</td>
						<td></td>
					</tr>
					<tr>
						<td>外教要求  （母语/非，口语/理科）
							Native or non-native
						</td>
						<td></td>
					</tr>
					<tr>
						<td>要求上岗时间
							Starting time
						</td>
						<td></td>
					</tr>
					<tr>
						<td>学生年龄 
							Student’s age
						</td>
						<td></td>
					</tr>
					<tr>
						<td>每周工作时间
							Class hour working hour 
						</td>
						<td></td>
					</tr>
					<tr>
						<td>上课课时 class hour</td>
						<td></td>
					</tr>
					<tr>
						<td>班级学生数量 class size</td>
						<td></td>
					</tr>
					<tr>
						<td>签证visa </td>
						<td></td>
					</tr>
					<tr>
						<td>工资待遇 salary
							税前税后 （after taxes or before taxes )
						</td>
						<td></td>
					</tr>
					<tr>
						<td>福利（是否有公寓，机票补贴）
							benefits
						</td>
						<td></td>
					</tr>
					<tr>
						<td>是否有带薪假期 Paid holiday</td>
						<td></td>
					</tr>
					<tr>
						<td>是学校还是外派机构
							School or education company 
						</td>
						<td></td>
					</tr>
					<tr>
						<td>面试老师联系方式      
							Skype/wechat of interviewer
						</td>
						<td></td>
					</tr>
					<tr>
						<td>学校联系人电话</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>		
	</div>


	<!-- footer -->
	<div id="footer-wrapper"></div>

	<style>
	.header {
		width: 100%;
		background-color: #fff;
		height: 80px;
		line-height: 80px;
		position: absolute;
		box-shadow: 0 2px 2px rgba(0,0,0,.2);
		z-index: 99;
	}
	.header .header-nav .menu li:nth-child(4) a {color: #e60012;}
	.download-table h3 {text-align: center;}
	.download-table table tbody tr td:first-child {width: 50%;}

</style>
<script>
	$("#header-wrapper").load("header.html");
	$("#footer-wrapper").load("footer.html");
</script>
</body>
</html>