	<div class="header">
		<div class="container header-main">
			<div class="header-logo">
				<a href="index.html" class="logo"><img src="../../Public/images/logo.png"></a>
			</div>
			<div class="header-nav">
				<ul class="list-inline menu">
					<li><a href="http://www.winterhr.cn" class="one-menu">首页</a></li>
					<li><a href="about.html" class="one-menu">关于我们</a></li>
					<li><a href="business.html" class="one-menu">业务介绍</a></li>
					<li><a href="cooperation.html" class="one-menu">合作流程</a></li>
					<li><a href="show.html" class="one-menu">外教风采</a></li>
					<li><a href="contact.html" class="one-menu">联系我们</a></li>
					<li><a href="../en/index.html" class="one-menu">English</a></li>
				</ul>
			</div>
		</div>
	</div>