<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" type="image/x-icon" />
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../../Public/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/css/index.css">
	<script src="../../Public/components/jquery/dist/jquery.min.js"></script>
	<script src="../../Public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../Public/js/index.js"></script>
</head>
<body>
	<!--  header -->
	<div class="header">
		<div class="container header-main">
			<div class="header-logo">
				<a href="index.html" class="logo"><img src="../../Public/images/logo.png"></a>
			</div>
			<div class="header-nav">
				<ul class="list-inline menu">
					<li><a href="index.html" class="one-menu">首页</a></li>
					<li><a href="about.html" class="one-menu">关于我们</a></li>
					<li><a href="business.html" class="one-menu">业务介绍</a></li>
					<li><a href="cooperation.html" class="one-menu">合作流程</a></li>
					<li><a href="show.html" class="one-menu">外教风采</a></li>
					<li><a href="contact.html" class="one-menu">联系我们</a></li>
					<li><a href="../en/index.html" class="one-menu">English</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- content -->
	<div class="page-bg bg4"></div>
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-md-3 side-nav">
				<ul class="list-unstyled">
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="about.html">关于温特</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="business.html">业务介绍</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="cooperation.html">合作流程</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="show.html">外教风采</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="contact.html">联系我们</a>
						<i class="fa fa-caret-right"></i>
					</li>
				</ul>
			</div>
			<div class="col-md-9 right-cont">
				<div class="r-top">
					<!-- <span>公司介绍</span> -->
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="#" class="on-site">当前位置</a></li>
						<li><a href="#">首页</a></li>
						<li><a href="#">关于温特</a></li>
						<li><a href="#">外教风采</a></li>
					</ol>
				</div>
				<h1 class="r-title">外教风采</h1>
				<div class="r-about">
					<div class="avatar">
						<ul class="list-inline avatar-list">
							<li>
								<img src="../../Public/images/teachers/t1.png" /> 
								<i class="name">澳大利亚外教</i> 
							</li>
							<li>
								<img src="../../Public/images/teachers/t2.png" />
								<i class="name">加拿大外教</i>
							</li>								
							<li>
								<img src="../../Public/images/teachers/t3.jpg" />
								<i class="name">欧洲外教</i>
							</li>								
							<li>
								<img src="../../Public/images/teachers/t4.png" />
								<i class="name">欧洲体育外教</i>
							</li>
							<li>
								<img src="../../Public/images/teachers/t5.png" />
								<i class="name">科学外教</i>
							</li>
							<li>
								<img src="../../Public/images/teachers/t6.jpg" />
								<i class="name">美国外教</i>
							</li>
							<li>
								<img src="../../Public/images/teachers/t7.jpg" />
								<i class="name">美国外教</i>
							</li>
							<li>
								<img src="../../Public/images/teachers/t8.png" />
								<i class="name">美国足球外教</i>
							</li>
							<li>
								<img src="../../Public/images/teachers/t9.png" />
								<i class="name">南非外教</i>
							</li>
							<li>
								<img src="../../Public/images/teachers/t11.jpg" />
								<i class="name">欧洲外教</i>
							</li>
							<li>
								<img src="../../Public/images/teachers/t12.jpg" />
								<i class="name">欧洲外教</i>
							</li>
							<li>
								<img src="../../Public/images/teachers/t15.png" />
								<i class="name">体育外教</i>
							</li>	
							<li>
								<img src="../../Public/images/teachers/t16.png" />
								<i class="name">文科外教</i>
							</li>														
						</ul>
					</div>
				</div>
				<h1 class="r-title">视频展示--<i style="font-size: 14px;">健身教练</i></h1>
				<div class="row">	
					<div class="col-md-6">			
						<video width="320" height="240" controls="controls">
							<source src="../../Public/images/teachers/t1.mp4" type="video/mp4" />
							<source src="movie.ogg" type="video/ogg" />
							<source src="movie.webm" type="video/webm" />
							Your browser does not support the video tag.
						</video>
					</div>
					<div class="col-md-6">
						<video width="320" height="240" controls="controls">
							<source src="../../Public/images/teachers/t2.mp4" type="video/mp4" />
							<source src="movie.ogg" type="video/ogg" />
							<source src="movie.webm" type="video/webm" />
							Your browser does not support the video tag.
						</video>
					</div>	
				</div>			
			</div>
		</div>
	</div>


	<!-- footer -->
	<div class="footer-wrapper">
		<div class="container">
			<div class="footer-link">
				<a href="about.html">关于温特</a>|
				<a href="business.html">业务介绍</a>|
				<a href="business.html">合作流程</a>|
				<a href="show.html">外教风采</a>|
				<a href="/law.html">法律声明</a>|
				<a href="/links.html">友情链接</a>|
				<a href="contact.html">联系我们</a>
			</div>
			<div class="footer-content">
				<a href="">English</a>
				<p class="copyright">Copyright 2017 Winter Rights Reserved. 400-xxx-xxxx</p>
			</div>
			<div class="footer-right">
				<a href="#" class="logo"><img src="../../Public/images/logo.png" alt=""></a>
				<ul>
					<li>
						<div class="fa fa-weixin"></div>
						<a href=""><img src="" class="img1">微信</a>
					</li>
					<li>
						<div class="fa fa-weibo"></div>
						<a href=""><img src="" class="img2">微博</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<style>
	.header .header-nav .menu li:nth-child(5) a {color: #e60012;}
	.side-nav ul li:nth-child(4) a {background-color: #C02120;color: #fff;}
	.side-nav ul li:nth-child(4) i.fa-plus-square:before,
	.side-nav ul li:nth-child(4) i.fa-caret-right:before {color: #fff;}
</style>
</body>
</html>