  /*reset*/
  body{
    color:#333;
    font-size: 12px;
    font-family: "Microsoft YaHei",Arial,sans-serif;
}
.container {
    padding-right:0;
    padding-left:0;
    min-width: 1170px;
    position: relative;
}
.row {
    margin-right: 0;
    margin-left: 0;

}
.col-md-1, .col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding-right: 0;
    padding-left: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:0;}

input,textarea,select{
    font-size:100%;    
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
h4,h5,h6{
    font-size:1em;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}

img{border:0;}
a {
    text-decoration: none;
    color: #333;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
a:focus{outline:none !important;} /*解决ie下点击a出现的虚线边框问题*/

em, i, u {
    font-style: normal;
}

/*header*/
.header {
    width: 100%;
    background-color: #fff;
    height: 80px;
    line-height: 80px;
}
.header .header-logo {
    float: left;
}
.header .header-logo img {

}
.header .header-nav {
    float: right;
}
.header .header-nav .menu {
    display: inline-block;
}
.header .header-nav .menu a {
    color: #535353;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding: 0 5px;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
}
.header .header-nav .menu a:hover {color:#e60012;border-color: #e60012;}
.header .header-nav .menu a.curre {color:#e60012;}
.header .header-nav .menu > li {
    padding: 0 20px;
    position: relative;
}
.header .header-nav .menu .two-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 110px;
    top: 80px;
    padding-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
}
.header .header-nav .menu .two-menu li {
    text-align: center;
    line-height: 28px;
    height: 28px;
    margin-right: 0;
}
.header .header-nav .menu .two-menu a {
    font-size: 14px;
}
.header .header-nav .menu .two-menu li:hover a {color: #fdc230;}
.fa-angle-down,.fa-angle-up {padding-left:5px;}
/*bg*/
.page-bg {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.page-bg.bg1 {background-image: url(../images/bg/1.jpg);}
.page-bg.bg2 {background-image: url(../images/bg/2.png);}
.page-bg.bg3 {background-image: url(../images/bg/3.jpg);}
.page-bg.bg4 {background-image: url(../images/bg/4.jpg);}
.page-bg.bg5 {background-image: url(../images/bg/5.jpg);}

.friend-title {
    font-size: 20px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-top: 14px;
}
.friend-list {width: 80%;display: inline-block;}
.friend-list .list-1 {margin-bottom: 30px;}
.friend-list .list-1 img {
    width: 220px;
    height: auto;
    transition: transform .3s;
}
.friend-list .list-2 img {
    width: 100px;
    height: auto;
    transition: transform .3s;
}
.friend-list ul li img:hover {transform: scale(1.1);}
/*footer*/
.footer-wrapper {
    margin-top:30px;
    position: relative;
    height: 130px;
    position: relative;
    background: #666;
    color: #fff;    
}
.footer-wrapper .footer-link {
    padding-top: 22px;
}
.footer-wrapper .footer-link a {
    padding:0 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.footer-wrapper .footer-link a:hover {color: #e60012;}
.footer-wrapper .footer-content {
    padding-left: 20px;
    height: 34px;
    line-height: 34px;
}
.footer-wrapper .footer-content a {
    color: rgba(255,255,255,.6);
    font-size: 14px;
    font-weight: 600;
}
.footer-wrapper .footer-right {
    position: absolute;
    right: 0;
    top: 50%;
}
.footer-wrapper .footer-right .logo {
    /*position: absolute;*/
    /*right: 120px;   */ 
}
.footer-wrapper .footer-right ul {
    padding-left: 36px;
    border-left: 1px solid #f5f5f5;
}
.footer-wrapper .footer-right li {
    height: 32px;
    line-height: 32px;
    position: relative;
    font-size: 14px;
}
.footer-wrapper .footer-right li a {
    color: #fff;
    padding-left: 10px;
}
.footer-wrapper .f-fixed {
    position: fixed;
    bottom: 0;
    right: 0;    
}
.footer-wrapper .copyright {
    text-align: center;
}

/*fixed-btn*/
.fixed-btn {
    position: fixed;
    right: 1%;
    bottom: 10%;
    width: 40px;
    border:1px solid #eee;
    background-color: #fff;
    font-size: 24px;
    z-index: 1040;
}
.fixed-btn a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    color:#fdc230;
}
.fixed-btn a i {vertical-align: middle;}
.fixed-btn > .go-top > .fa-angle-up {padding-left: 0;}
.fixed-btn > .go-top {border-bottom: 1px solid #eee;}
/*content*/
.bg {background-color: #f8f7fc;margin-top:30px;margin-bottom: 30px;padding-left: 80px;padding-right: 80px;}
h1.title {
    font-size: 28px;
    margin-top:50px;
    margin-bottom: 50px;
    padding-left: 15px;
    border-left: 3px solid #d80000;
}
/*p {font-size: 20px;color: #666;}*/

.row {margin-left:0;margin-right: 0;}

.contact {margin-bottom: 50px;}
.contact h1 {
    font-size: 28px;
    color: #fdc230;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact p {margin-bottom: 20px;}
.contact .fa {
    font-size: 20px;
    color:#fdc230;
    padding-right:20px;
}
/*about*/

.about .us .intro {
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;    
}
.avatar .avatar-list {padding-right: 35px;padding-left:35px;margin-bottom: 20px;}
.avatar .avatar-list li {
    width: 200px;
    height: 220px;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
}
.avatar .avatar-list li img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transition: transform .3s;
}
.avatar .avatar-list li img:hover {transform: scale(1.1);}

.avatar .avatar-list li > i {
    position: absolute;
    font-style: normal;
    bottom: 20px;
    left: 50%;
    margin-left: -28px;
}
.avatar > .become {font-size: 18px;color: #fdc230;text-align: center;margin-bottom: 20px;}
.avatar > .become > a {margin-left:10px;}

/*offers*/ 
.offers .show {margin-top:50px;margin-bottom: 50px;}
.row-down img {margin-top:-30px;}
/*图片排放位置*/
.row-up .l img {padding-left: 210px;}
.row-up .r img {}
.row-down .l img {padding-left: 140px;}
.row-down .c img {padding-left: 74px;}
.row-down .r img {padding-left: 40px;}
.treatment p {margin-bottom: 20px;}

/*require*/
.require .title {
    margin-top: 20px;
}
.require .req {
    margin-top: 10px;
    margin-left: 30px;
}
.dot {
    display: inline-block;
    font-weight: normal;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 20px;
}

/*steps*/
.steps .intro {color: #333;text-align: center;padding-top:30px;padding-bottom: 30px;}

/*-----中文版-----*/
/*--首页--*/
.intro-wrapper {margin-top: 22px;}
.intro-wrapper .side-nav {
    width: 200px;
    float: left;
}
.intro-wrapper .side-nav-en {width: 240px;}
.intro-wrapper .side-nav li {
    background-color: #f5f6f7;
    position: relative;
    height: 40px;
}
.intro-wrapper .side-nav li i.fa-plus-square {
    position: absolute;
    top: 15px;
    left: 40px;
    color: #666;
}
.intro-wrapper .side-nav li i.fa-caret-right {
    position: absolute;
    top: 15px;
    right: 40px;
    color: #666;
}
.intro-wrapper .side-nav a {
    border-bottom: 1px solid #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    padding-right: 50px;
    padding-left: 40px;
}
.intro-wrapper .right-cont {
    float: right;
    margin-bottom: 30px;
}
.intro-wrapper .right-cont .r-top .breadcrumb {
    padding:0;
    margin-bottom: 0;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 800;
}
.intro-wrapper .right-cont .r-top .breadcrumb .fa-home:before {color: #002141;}
.intro-wrapper .right-cont .r-top .breadcrumb>li+li:before {content: ">";color: #666;}
.intro-wrapper .right-cont .r-top .breadcrumb a.on-site {padding-left: 4px;}
.intro-wrapper .right-cont .r-top .breadcrumb li:nth-child(1) > a,
.intro-wrapper .right-cont .r-top .breadcrumb li:nth-child(3) > a {pointer-events: none;}
.intro-wrapper .right-cont .r-top .breadcrumb li:nth-child(2) > a:hover {color: #C02120;}
.intro-wrapper .right-cont .r-title {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 2px solid #f6ad3c;
}
.intro-wrapper .right-cont .r-about {
    line-height: 26px;
    color: #666;
}
.intro-wrapper .right-cont .r-about p {
    font-size: 14px;
    color: #333;
    text-indent: 2em;
}
.intro-wrapper .right-cont .hotline {
    font-size: 14px;
    line-height: 30px;
}
.intro-wrapper .right-cont .hotline strong {
    font-weight: normal;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    
}



/*六角形*/



.r-about .step {
    position: relative;
    height: 182px;
    margin-top: 53px;
    text-align: center;
}
.r-about .step h3 {
    position: absolute;
    top: 140px;
    left: 0;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #333;
    line-height: 24px;
}
.r-about .step h3 > span {font-size: 14px;}

/* HEXAGON STARTS HERE */
.hex {
    width: 138px;
    height: 79px;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -69px;
}

.hex .corner-1,
.hex .corner-2 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: inherit;                                
    z-index:-2;                     
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;         
    backface-visibility: hidden;            
}

.hex .corner-1 {
    z-index:-1;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hex .corner-2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
    width: 173px;
    height: 173px;
    content: '';
    position: absolute;
    background: inherit;
    top:0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat:no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden; 
    backface-visibility: hidden;                  
}           


.hex .corner-1:before {
    -webkit-transform: rotate(-60deg) translate(-87px, 0px);
    -moz-transform: rotate(-60deg) translate(-87px, 0px);
    -ms-transform: rotate(-60deg) translate(-87px, 0px);
    -o-transform: rotate(-60deg) translate(-87px, 0px);
    transform: rotate(-60deg) translate(-87px, 0px);    
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}           

.hex .corner-2:before {
    -webkit-transform: rotate(60deg) translate(-48px, -11px);
    -moz-transform: rotate(60deg) translate(-48px, -11px);
    -ms-transform: rotate(60deg) translate(-48px, -11px);
    -o-transform: rotate(60deg) translate(-48px, -11px);
    transform: rotate(60deg) translate(-48px, -11px);   
    bottom:0;
}       



/* Custom styles*/
.hex .inner {       
    color:#eee;
}

.hex h4 {
    font-family: 'Josefin Sans', sans-serif;         
    font-size: 38px;       
}

.hex hr {
    border:0;
    border-top:1px solid #eee;
    width:52%;
    margin:15px auto;
}

.hex p {
    font-size:16px;
    font-family: 'Kotta One', serif;
    width:80%;
    margin:0 auto;
}

.hex.hex-1 {
    background-color: #2f99eb;
}

/*表格下载页*/
    .download-table {
        font-family: Arail;
        font-size: 14px;
        color: #002141;
        font-weight: 600;
        padding: 40px 142px;
        margin-top: 80px;
    }
    .download-table h3 {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .download-table table tbody tr td {
        padding: 8px 10px;
        vertical-align: middle;
    }
