  /*reset*/
        body{
            color:#333;
            font-family:arial;
            font-size: 12px;
            font-family: "Microsoft YaHei",sans-serif;
        }
        .container {
            padding-right:0;
            padding-left:0;
            min-width: 1170px;
        }
        .row {
            margin-right: 0;
            margin-left: 0;

        }
        .col-md-1, .col-md-2, .col-md-3, .col-md-4,
        .col-md-5, .col-md-6, .col-md-7, .col-md-8,
        .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            padding-right: 0;
            padding-left: 0;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:0;}

        input,textarea,select{
            font-size:100%;    
            font-family:inherit;
        }
        body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
            margin:0;
        }
        h4,h5,h6{
            font-size:1em;
        }
        ul,ol{
            padding-left:0; 
            list-style-type:none;
        }

        img{border:0;}
        a {
            text-decoration: none;
            color: #333;
        }
        a:link,
        a:visited,
        a:hover,
        a:active {
            text-decoration: none;
        }
        a:focus{outline:none !important;} /*解决ie下点击a出现的虚线边框问题*/

        em, i, u {
            font-style: normal;
        }

/*header*/
header {
    background-color: #fff;
    height: 80px;
    line-height: 80px;
}

.logo {float: left;}
.logo img {
    text-align: left;
    margin-left: 0;
}
.menu {
    display: inline-block;
}
.menu a {color: #333;}
.menu a.curre {color:#f6ad3c;}
.menu a:hover {text-decoration: none;}
.menu > li {
    margin-left: 40px;
    position: relative;
}
.menu .one-menu {font-size: 16px;}
.menu .two-menu {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 110px;
    top: 80px;
    padding-bottom: 10px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
}
.menu .two-menu li {
    text-align: center;
    line-height: 28px;
    height: 28px;
    margin-right: 0;
}
.menu .two-menu a {
    font-size: 14px;
}
.menu .two-menu li:hover a {color: #fdc230;}
.fa-angle-down,.fa-angle-up {padding-left:5px;}

/*footer*/
footer {margin-top:30px;/*position: fixed;*/bottom: 0;right: 0;left: 0;}
.copyright {
    text-align: center;
    height: 80px;
    line-height: 80px;
    background-color: #fff;
}
/*fixed-btn*/
.fixed-btn {
    position: fixed;
    right: 1%;
    bottom: 10%;
    width: 40px;
    border:1px solid #eee;
    background-color: #fff;
    font-size: 24px;
    z-index: 1040;
}
.fixed-btn a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    color:#fdc230;
}
.fixed-btn a i {vertical-align: middle;}
.fixed-btn > .go-top > .fa-angle-up {padding-left: 0;}
.fixed-btn > .go-top {border-bottom: 1px solid #eee;}
/*content*/
.bg {background-color: #f8f7fc;margin-top:30px;margin-bottom: 30px;padding-left: 80px;padding-right: 80px;}
h1.title {
    font-size: 28px;
    margin-top:50px;
    margin-bottom: 50px;
    padding-left: 15px;
    border-left: 5px solid #fdc230;
}
/*p {font-size: 20px;color: #666;}*/

.row {margin-left:0;margin-right: 0;}
/*index*/
.carousel {width: 100%;background-color: #e5e5e5;margin-top:20px;}
.b1 {
    background:url(../images/banner/b1.jpg) no-repeat center center;
    height: 450px;
}
.b2 {
    background:url(../images/banner/b2.jpg) no-repeat center center;
    height: 450px;
}
.b3 {
    background:url(../images/banner/b3.jpg) no-repeat center center;
    height: 450px;
}
.contact {margin-bottom: 50px;}
.contact h1 {
    font-size: 28px;
    color: #fdc230;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact p {margin-bottom: 20px;}
.contact .fa {
    font-size: 20px;
    color:#fdc230;
    padding-right:20px;
}
/*about*/

.about .us .intro {
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;    
}
.avatar .avatar-list {padding-right: 35px;padding-left:35px;margin-bottom: 20px;}
.avatar .col-md-3 {
    position: relative;
    height: 210px;
}

.avatar .col-md-3 > i {
    position: absolute;
    font-style: normal;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
}
.avatar > .become {font-size: 18px;color: #fdc230;text-align: center;margin-bottom: 20px;}
.avatar > .become > a {margin-left:10px;}

/*offers*/ 
.offers .show {margin-top:50px;margin-bottom: 50px;}
.row-down img {margin-top:-30px;}
/*图片排放位置*/
.row-up .l img {padding-left: 210px;}
.row-up .r img {}
.row-down .l img {padding-left: 140px;}
.row-down .c img {padding-left: 74px;}
.row-down .r img {padding-left: 40px;}
.treatment p {margin-bottom: 20px;}

/*require*/
.require .title {
    margin-top: 20px;
}
.require .req {
    margin-top: 10px;
    margin-left: 30px;
}
.dot {
    display: inline-block;
    font-weight: normal;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 20px;
}

/*steps*/
.steps .intro {color: #333;text-align: center;padding-top:30px;padding-bottom: 30px;}

/*-----中文版-----*/
/*--首页--*/
.intro-wrapper {margin-top: 22px;}
.intro-wrapper .side-nav {
    width: 257px;
    float: left;
}
.intro-wrapper .side-nav a {
        border-bottom: #f0f0f0 solid 1px;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-size: 14px;
    padding-right: 50px;
}
.intro-wrapper .right-cont {
    float: right;
}
.intro-wrapper .right-cont .r-top .breadcrumb {
    padding:0;
    margin-bottom: 0;
    height: 50px;
    line-height: 50px;
    text-align: right;
        padding-left: 20px;
    padding-right: 20px;
}
.intro-wrapper .right-cont .r-title {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 2px solid #f6ad3c;
}
.intro-wrapper .right-cont .r-about p {
    font-size: 14px;
    color: #333;
}

