<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" type="image/x-icon" />
	<title>Contact Us</title>
	<link rel="stylesheet" type="text/css" href="../../Public/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/css/index.css">
	<script src="../../Public/components/jquery/dist/jquery.min.js"></script>
	<script src="../../Public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../Public/js/index.js"></script>
</head>
<body>
	<!--  header -->
	<div id="header-wrapper"></div>
	<!-- content -->
	<div class="page-bg bg4"></div>
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-md-3 side-nav side-nav-en">
				<ul class="list-unstyled">
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="about.html">About Us</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="requirements.html">Requirements</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="cooperation.html">Cooperation</a>
						<i class="fa fa-caret-right"></i>
					</li>					
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="offer.html">Offer</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="contact.html">Contact Us</a>
						<i class="fa fa-caret-right"></i>
					</li>
				</ul>
			</div>
			<div class="col-md-9 right-cont">
				<div class="r-top">
					<!-- <span>公司介绍</span> -->
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="javascript:;" class="on-site">Current Location</a></li>
						<li><a href="index.html">Home</a></li>
						<li><a href="javascript:;">Contact Us</a></li>
					</ol>
				</div>
				<h1 class="r-title">Contact us</h1>
				<div class="r-about">
					<p>Skype ID : delladellazxy</p>
					<p>Wechat ID : zxy-della</p>
					<p>E-mail : zxyshxiyangquan@163.com </p>
					<p>Whatsapp : +(86)15930119910</p>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer-wrapper"></div>
	<style>
	.header .header-nav .menu li:nth-child(6) a {color: #e60012;}
	.side-nav ul li:nth-child(5) a {background-color: #C02120;color: #fff;}
	.side-nav ul li:nth-child(5) i.fa-plus-square:before,
	.side-nav ul li:nth-child(5) i.fa-caret-right:before {color: #fff;}
	.intro-wrapper .right-cont .r-about p {
		line-height: 26px;
		color: #002141;
		font-size: 14px;
		font-weight: 600;
	}
</style>
<script>
	$("#header-wrapper").load("header.html");
	$("#footer-wrapper").load("footer.html");
</script>
</body>
</html>