<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" type="image/x-icon" />
	<title>Download</title>
	<link rel="stylesheet" type="text/css" href="../../Public/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/css/index.css">
	<script src="../../Public/components/jquery/dist/jquery.min.js"></script>
	<script src="../../Public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../Public/js/index.js"></script>
</head>
<body>
	<div id="header-wrapper"></div>
	<!-- content -->
	<div class="container">
		<div class="download-table">
			<h3>Name : _____________</h3>
			<h3> Nationality : _____________</h3>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>1</td>
						<td>Salary expectation</td>
						<td>RMB</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Cities(south/north/any/colder/warmer/big/small...</td>
						<td></td>
					</tr>
					<tr>
						<td>3</td>
						<td>Office time or no office time (if with office time ,the salary will be higher, no office hour , will be more free time  )</td>
						<td></td>
					</tr>
					<tr>
						<td>4</td>
						<td>When can u start the new job ?</td>
						<td></td>
					</tr>
					<tr>
						<td>5</td>
						<td>How about your visa now ?</td>
						<td></td>
					</tr>
					<tr>
						<td>6</td>
						<td>Do u need the employer to provide the working visa ?(or use your own visa )</td>
						<td></td>
					</tr>
					<tr>
						<td>7</td>
						<td>Do u need the free apartment or pay u the allowance ?</td>
						<td></td>
					</tr>
					<tr>
						<td>8</td>
						<td>Are u in china now ?   Which city ?</td>
						<td></td>
					</tr>
					<tr>
						<td>9</td>
						<td>Which level can u teach ? ( 3-6years old /7-12/13-18/adults...                         
							Can u teach other subjects ? ( math /computer science /business English ...)
						</td>
						<td></td>
					</tr>
					<tr>
						<td>10</td>
						<td>Other (come with your family member ?/ something special </td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<!-- footer -->
	<div id="footer-wrapper"></div>
	<style>
	.header {
		width: 100%;
		background-color: #fff;
		height: 80px;
		line-height: 80px;
		position: absolute;
		box-shadow: 0 2px 2px rgba(0,0,0,.2);
		z-index: 99;
	}
	.header .header-nav .menu li:nth-child(4) a {color: #e60012;}
	.download-table table tbody tr td:first-child {
		text-align: center;
		width: 10%;
	}
	.download-table table tbody tr td:nth-child(2) {width: 60%;}
	.download-table table tbody tr td:nth-child(3) {text-align: center;}
</style>
<script>
	$("#header-wrapper").load("header.html");
	$("#footer-wrapper").load("footer.html");
</script>
</body>
</html>