<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" type="image/x-icon" />
	<title>Requirements</title>
	<link rel="stylesheet" type="text/css" href="../../Public/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../Public/css/index.css">
	<script src="../../Public/components/jquery/dist/jquery.min.js"></script>
	<script src="../../Public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../Public/js/index.js"></script>
</head>
<body>
	<!--  header -->
	<div id="header-wrapper"></div>
	<!-- content -->
	<div class="page-bg bg4"></div>
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-md-3 side-nav side-nav-en">
				<ul class="list-unstyled">
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="about.html">About Us</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="requirements.html">Requirements</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="cooperation.html">Cooperation</a>
						<i class="fa fa-caret-right"></i>
					</li>					
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="offer.html">Offer</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="contact.html">Contact Us</a>
						<i class="fa fa-caret-right"></i>
					</li>
				</ul>
			</div>
			<div class="col-md-9 right-cont">
				<div class="r-top">
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="javascript:;" class="on-site">Current Location</a></li>
						<li><a href="index.html">Home</a></li>
						<li><a href="javascript:;">Requirements</a></li>
					</ol>
				</div>
				<h1 class="r-title">Requirements</h1>
				<div class="r-about">
					<p>
						If you are ready to cooperate with us and work in China, some details you need to provide are as follows : 
					</p>
					<p>1 The “Job Objective file” (you can download form this site ).
					</p>
					<p>
						2 You need prepare a CV(or resume)which include your own basic information, especially the education and work experience. 
					</p>
					<p>
						3 Self introduction video or teaching video.
					</p>

				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer-wrapper"></div>
<style>
		.header .header-nav .menu li:nth-child(3) a {color: #e60012;}
		.side-nav ul li:nth-child(2) a {background-color: #C02120;color: #fff;}
		.side-nav ul li:nth-child(2) i.fa-plus-square:before,
		.side-nav ul li:nth-child(2) i.fa-caret-right:before {color: #fff;}
</style>
<script>
	$("#header-wrapper").load("header.html");
	$("#footer-wrapper").load("footer.html");
</script>
</body>
</html>
