<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
<!-- 	<link rel="shortcut icon" href="../../assets/img/logo.ico" type="image/x-icon" /> -->
	<title>关于我们</title>
	<link rel="stylesheet" href="../../assets/libs/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/css/base.css">
	<link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
	<div id="header-wrapper"></div>
	<!-- content -->
	<div class="page-bg bg1"></div>
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-md-3 side-nav">
				<ul class="list-unstyled">
					<li class="on">
						<i class="fa fa-plus-square"></i>
						<a href="about.html">关于温特</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="business.html">业务介绍</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="cooperation.html">合作流程</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="show.html">外教风采</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="contact.html">联系我们</a>
						<i class="fa fa-caret-right"></i>
					</li>
				</ul>
			</div>
			<div class="col-md-9 right-cont">
				<div class="r-top">
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="#" class="on-site">当前位置</a></li>
						<li><a href="index.html">首页</a></li>
						<li><a href="javascript:;">关于温特</a></li>
					</ol>
				</div>
				<h1 class="r-title">公司介绍</h1>
				<div class="r-about">
					<p>
						河北温特人力资源服务有限公司是一家经工商部门批准的人力资源服务公司。公司成立于2017年4月，位于京津冀商业圈，河北省省会--石家庄市。
					</p>
					<p>随着世界各国政治经济文化交流日益加强，国内外籍教师资源的需求量日益增加，供不应求。为满足日益增长的外籍人才的需求，温特公司结合各行业需求，凭借资源优势，积极引智，拥有庞大的外智资源库，为各行业提供了大量符合其需求的优秀外籍人才。合作范围已经遍及全国。
					</p>
					<p>
						我公司本着优质服务的宗旨，认真细致对待每一位合作者，正因如此，温特赢得了众多合作方的认可与肯定，如北京石景山区东方龙人幼儿园，全国爱贝英语培训学校，上海美华培训学校，潍坊（上海）新纪元学校，深圳桃源居中澳实验学校，石家庄国际预科学院等，与之继续发展长期合作的模式，定期供应。
					</p>
					<p>
						公司业务范围广泛，涉及各行各业。包括文教类，如教师，教学管理人员等；非文教类包括商务，家政等领域，人才资源众多，能够满足各行业各级别的客户需求。因此，与我们合作是您不二的选择！
					</p>
					<p>
						目前，公司全体员工正在齐心协力，努力完善更优质的的服务体系，相信，在不久的将来，温特会成为一颗耀眼的明星，在这个行业中熠熠生辉！
					</p>
				</div>
			</div>
		</div>
	</div>


	<!-- footer -->
	<div id="footer-wrapper"></div>
	<style>
		.header .header-nav .menu li:nth-child(2) a {color: #e60012;}
	</style>
	<script src="../../assets/libs/jquery-1.12.4/jquery.min.js"></script>
	<script src="../../assets/js/index.js"></script>
	<script>
		$("#header-wrapper").load("header.html");
		$("#footer-wrapper").load("footer.html");
	</script>
</body>
</html>