<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" type="image/x-icon" />
	<title>合作流程</title>
	<link rel="stylesheet" href="../../assets/libs/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/css/base.css">
	<link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
	<div id="header-wrapper"></div>
	<!-- content -->
	<div class="page-bg bg3"></div>
	<div class="container">
		<div class="intro-wrapper row">
			<div class="col-md-3 side-nav">
				<ul class="list-unstyled">
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="about.html">关于温特</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="business.html">业务介绍</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li class="on">
						<i class="fa fa-plus-square"></i>
						<a href="cooperation.html">合作流程</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="show.html">外教风采</a>
						<i class="fa fa-caret-right"></i>
					</li>
					<li>
						<i class="fa fa-plus-square"></i>
						<a href="contact.html">联系我们</a>
						<i class="fa fa-caret-right"></i>
					</li>
				</ul>
			</div>
			<div class="col-md-9 right-cont">
				<div class="r-top">
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="javascript:;" class="on-site">当前位置</a></li>
						<li><a href="index.html">首页</a></li>
						<li><a href="javascript:;">合作流程</a></li>
					</ol>
				</div>
				<h1 class="r-title">合作流程</h1>
				<div class="r-about row">
					<div class="step col-md-3 hvr-float">
						<div class="hex hex-1 hex-gap">		
							<div class="inner">
								<h4>1</h4>
								<hr />
							</div>		
							<div class="corner-1"></div>
							<div class="corner-2"></div>		
						</div>
						<h3>客户填写需求表<br />
							<span><a href="download.html" style="color: #ff7800;">点此查看</a></span></h3>
					</div>
					<div class="step col-md-3 hvr-float">
						<div class="hex hex-1 hex-gap">		
							<div class="inner">
								<h4>2</h4>
								<hr />
							</div>		
							<div class="corner-1"></div>
							<div class="corner-2"></div>		
						</div>
						<h3>匹配并签定代聘协议</h3>
					</div>
					<div class="step col-md-3 hvr-float">
						<div class="hex hex-1 hex-gap">		
							<div class="inner">
								<h4>3</h4>
								<hr />
							</div>		
							<div class="corner-1"></div>
							<div class="corner-2"></div>		
						</div>
						<h3>安排面试</h3>
					</div>
					<div class="step col-md-3 hvr-float">
						<div class="hex hex-1 hex-gap">		
							<div class="inner">
								<h4>4</h4>
								<hr />
							</div>		
							<div class="corner-1"></div>
							<div class="corner-2"></div>		
						</div>
						<h3>
						确定录取情况<br />
						<span>录取--签定聘用合同，安排到岗<br />
						不录取--推荐其他候选人</span>
					</h3>
						
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- footer -->
	<div id="footer-wrapper"></div>
	<style>
	.header .header-nav .menu li:nth-child(4) a {color: #e60012;}
	.side-nav ul li:nth-child(3) a {background-color: #C02120;color: #fff;}
	.side-nav ul li:nth-child(3) i.fa-plus-square:before,
	.side-nav ul li:nth-child(3) i.fa-caret-right:before {color: #fff;}
</style>
	<script src="../../assets/libs/jquery-1.12.4/jquery.min.js"></script>
	<script src="../../assets/js/index.js"></script>
<script>
	$("#header-wrapper").load("header.html");
	$("#footer-wrapper").load("footer.html");
</script>
</body>
</html>