	<!-- footer -->
	<div class="footer-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6 footer-link">
					<a href="about.html">关于温特</a>|
					<a href="business.html">业务介绍</a>|
					<a href="business.html">合作流程</a>|
					<a href="show.html">外教风采</a>|
					<a href="contact.html">联系我们</a><br>
					<br>
					<br>
					<a href="../en/index.html">English</a>
				</div>
				<div class="col-md-2 footer-center">
					<p>微信公众号</p>
					<img src="../../assets/img/home/qr.jpg" alt="" style="width: 60%;">
				</div>
				<div class="col-md-4 footer-right">
					<p><i class="fa fa-phone"></i><i>：0311-66176901</i></p>
					<p><i class="fa fa-weixin"></i><i>：Rosyclouds66 / Zxy-della</i></p>
				</div>
			</div>
			<div class="footer-content">
				<p class="copyright">
					Copyright ©<i class="year"></i> Winter All Rights Reserved&nbsp;&nbsp;&nbsp;&nbsp;备案号：冀ICP备17032669号<br>
					公司：河北温特人力资源服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;地址：河北省石家庄市桥西区，胜利南大街126号，泰丰观湖1号楼1单元2502
			</p>
			</div>
		</div>
	</div>
	<script>
		$(function(){
			var date=new Date;
			var year=date.getFullYear(); 
			$(".year").text(year);
		})
	</script>