	<!-- footer -->
    <div class="footer-wrapper">
		<div class="container">
    		<div class="footer-top">
    			<div class="tl">
    				<!--<div class="img"><img src="../../assets/img/logo.png" alt="" /></div>-->
    				<!--<p>让学习更高效！</p>-->
    				<div>
    					<a href="about.html">关于温特</a>|
						<a href="business.html">业务介绍</a>|
						<a href="cooperation.html">合作流程</a>
						<br />
						<br />
						<a href="show.html">外教风采</a>|
						<a href="contact.html">联系我们</a>|
						<!--<br>
						<br>-->
						<a href="../en/index.html">English</a>
    				</div>
    			</div>
    			<div class="tc">
    				<div class="qr1">
    					<img src="../../assets/img/home/qr.jpg" alt="" />
    					<p>温特人力</p>
    				</div>
    				<div class="qr2">
    					<img src="../../assets/img/home/qr1.jpg" alt="" />
    					<p>Winter foreignerHR</p>
    				</div>
    			</div>
    			<div class="tr">
    				<p class="hot-line">
    					<i class="fa fa-weixin"></i><i>：Rosyclouds66/Zxy-della</i>
    					<br />
    					<i class="fa fa-phone"></i><i>：服务热线：15930119910</i>
    				</p>
    			</div>
    		</div>
    		<div class="footer-bot">
    			Copyright ©<i class="year"></i> Winter All Rights Reserved&nbsp;&nbsp;&nbsp;&nbsp;备案号：<a target="_blank" href="https://beian.miit.gov.cn">冀ICP备17032669号-1</a><br>
					公司：河北温特人力资源服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;地址：河北省石家庄市桥西区塔丰路与胜利南街交口塔谈国际商贸城9号写字楼2505室
    		</div>
		</div>
	</div>
	<script>
		$(function(){
			var date=new Date;
			var year=date.getFullYear(); 
			$(".year").text(year);
		})
	</script>